# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Vector DB storage (if local)
chroma_db/
qdrant_storage/

# IDE files
.vscode/
.idea/
